{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 200,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
